<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City of Toronto Budget Analisys</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <img src="https://media.istockphoto.com/id/1160964924/vector/toronto-city-skyline-skyscraper-buildings-background-vector.jpg?s=612x612&w=0&k=20&c=xXK4JpJWMYJQgZERgBg1WzGfFQviFRRW053EU64VObg=" alt="Header Image" class="header-image">
    
    <nav class="navigation">
        <ul>
            <li><a href="nav_Home">Home</a></li>
            <li><a href="nav_Budget">Budget Analysis</a></li>
            <li><a href="nav_APIs">Our APIs</a></li>
            <li><a href="nav_aboutUs">About us</a></li>
        </ul>
    </nav>

    <aside class="side-menu">
        <ul>
            <li>
                <a href="#">Toronto Budget Categories</a>
                <ul>
                    <li><a href="#">Submenu 1</a></li>
                    <li><a href="#">Submenu 2</a></li>
                    <li><a href="#">Submenu 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Toronto Programs</a>
                <ul>
                    <li><a href="#">Submenu 1</a></li>
                    <li><a href="#">Submenu 2</a></li>
                    <li><a href="#">Submenu 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Toronto Demographics</a>
                <ul>
                    <li><a href="#">Submenu 1</a></li>
                    <li><a href="#">Submenu 2</a></li>
                    <li><a href="#">Submenu 3</a></li>
                </ul>
            </li>
        </ul>
    </aside>

    <div id="graphics-output"></div>

    <script src="/static/js/programs.js"></script>
</body>
</html>
